:root {
    /*--main-color: #037070;*/
    /*--main-color: #088b99;*/
    --main-color: #555555;
    --main-color-bright: #00FFFF;
    --main-color-dark: #001212;
    --main-compl: #FC5D00;
    --main-compl_bright: #EB9E71;

    --text-color-head: #F0F8FF;
}